/*
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600

** font-family: 'Josefin Sans', sans-serif;
*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
:root {
  /* Primary */
  --primary-1: hsl(0, 36%, 70%);
  /*Desaturated Red*/
  --primary-2:hsl(0, 93%, 68%);
  /*Soft Red*/
  /* Neutral */
  --neutral: hsl(0, 6%, 24%);
  /*Dark Grayish Red*/
  /* Gradients */
  --grad-1:linear-gradient(135deg, rgba(255,255,255,1) 35%, rgba(255,223,223,1) 100%);
  /*Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);*/
  --grad-2:linear-gradient(135deg, rgba(248,191,191,1) 35%, rgba(238,140,140,1) 100%);
  /*Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);*/
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  font-size: 1rem;
  background-color: var(--neutral);
}

.error {
  border: 1px solid #F96464 !important;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
}

main .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 1440px;
  max-width: 1440px;
  height: 810px;
  max-height: 810px;
  background: var(--grad-1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: .5rem;
  overflow: hidden;
  position: relative;
}

main .card .logo {
  position: absolute;
  width: 1440px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card .logo img {
  position: absolute;
  left: 12rem;
  bottom: 0;
}

main .card .info__container {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  min-width: 960px;
  max-width: 960px;
  background: url(../images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

main .card .info__container h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
  margin-left: 12rem;
  font-size: 5rem;
  text-transform: uppercase;
  color: var(--neutral);
  letter-spacing: 10px;
}

main .card .info__container h1 span {
  font-weight: 300;
  line-height: 1rem;
  color: var(--primary-1);
}

main .card .info__container p {
  color: var(--primary-1);
  margin: 2rem 12rem;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  max-width: 400px;
}

main .card .hero__container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 480px;
  max-width: 480px;
  background: url(../images/hero-desktop.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}

main .card .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0 12rem;
  position: relative;
}

main .card .form input {
  width: 100%;
  height: 3rem;
  border-radius: 50px;
  border: 1px solid rgba(200, 157, 157, 0.59);
  padding-left: 1.3rem;
  font-weight: 400;
  font-family: 'Josefin Sans', sans-serif;
}

main .card .form input::-webkit-input-placeholder {
  color: var(--primary-1);
}

main .card .form input:-ms-input-placeholder {
  color: var(--primary-1);
}

main .card .form input::-ms-input-placeholder {
  color: var(--primary-1);
}

main .card .form input::placeholder {
  color: var(--primary-1);
}

main .card .form input:focus {
  outline: none;
}

main .card .form a {
  background: #fda0a0;
  border-radius: 50px;
  width: 5rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-box-shadow: 5px 5px 15px #946b6b;
          box-shadow: 5px 5px 15px #946b6b;
}

main .card .form a #alert__svg {
  position: absolute;
  left: -2rem;
  visibility: hidden;
  cursor: auto;
}

main .card .form a #arrow__svg {
  width: 12px;
  height: 20px;
  margin: 0 auto;
}

main .card .form a #arrow__svg #arrow__path {
  stroke: white;
  fill: none;
  stroke-width: 2;
}

main .card .form a:hover {
  background: #ee8c8c;
  -webkit-box-shadow: 5px 5px 10px #855151;
          box-shadow: 5px 5px 10px #855151;
}

main .card .error__msg p {
  visibility: hidden;
  color: #F96464;
}

@media screen and (max-width: 1439px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
  }
  main .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 600px;
    height: 900px;
    position: relative;
  }
  main .card .logo {
    top: 0;
    width: 800px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--grad-1);
  }
  main .card .logo img {
    position: relative;
    left: 0;
    margin: 0 3rem;
  }
  main .card .info__container {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    min-width: 600px;
    background: var(--grad-1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  main .card .info__container h1 {
    font-size: 4rem;
    margin-left: 3rem;
  }
  main .card .info__container p {
    margin-left: 3rem;
  }
  main .card .info__container .form {
    margin-left: 3rem;
  }
  main .card .hero__container {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    margin-top: 80px;
    min-width: 600px;
    background: url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
}

@media screen and (max-width: 700px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100vh;
  }
  main .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 350px;
    height: 600px;
    position: relative;
  }
  main .card .logo {
    top: 0;
    width: 350px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: var(--grad-1);
    position: relative;
  }
  main .card .logo img {
    position: absolute;
    left: 0;
    top: 1rem;
    margin-left: 1rem;
  }
  main .card .info__container {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    width: 350px;
    min-width: 350px;
    background: var(--grad-1);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
  }
  main .card .info__container h1 {
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  main .card .info__container p {
    color: var(--primary-1);
    margin: 1rem;
    font-size: 1rem;
    width: 300px;
  }
  main .card .info__container .form {
    margin-left: 1rem;
  }
  main .card .hero__container {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
    width: 350px;
    margin-top: 0;
    background: url(../images/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }
  main .card .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    margin: 0 5vw;
    position: relative;
  }
  main .card .error__msg p {
    visibility: hidden;
    color: #F96464;
  }
}
/*# sourceMappingURL=style.css.map */
